.pagination-wrapper {
    width: 13%;
    font-size: 0;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-self: end;
    animation: addRowAnimation 1s ease
}

@keyframes addRowAnimation  {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pagination-container--animation-prev {
    0% { transform: translateX(0); }
    100% { transform: translateX(18px); }
}

@keyframes pagination-container--animation-next {
    0% { transform: translateX(0); }
    100% { transform: translateX(-18px); }
}

.transition-prev .pagination-container {
    animation: pagination-container--animation-prev 0.3s forwards;
}

.transition-next .pagination-container {
    animation: pagination-container--animation-next 0.3s forwards;
}

.little-dot {
    width: 6px;
    height: 6px;
    background: black;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px;
    position: relative;
    z-index: 10;
}

.little-dot--first,
.little-dot--last {
    z-index: 5;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-18px);
    }
}

.transition-prev .little-dot--first {
    animation: slideLeft 0.4s 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes little-dot--first--animation {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.transition-next .little-dot--first {
    animation: little-dot--last--animation 0.3s forwards;
}


@keyframes little-dot--last--animation {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.transition-prev .little-dot--last {
    animation: little-dot--last--animation 0.3s forwards;
}

@keyframes slideRight {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        transform: translateX(18px);
        opacity: 1;
    }
}

.transition-next .little-dot--last {
    animation: slideRight 0.4s 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

.big-dot {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: black;
    position: absolute;
    top: 50%;
    right: -6px;
    transform: translateY(-50%);
}

.transition-next .big-dot {
    right: auto;
    left: -6px;
}

.big-dot-container {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    z-index: 10;
}

.transition-next .big-dot-container {
    right: auto;
    left: 3px;
}

@keyframes big-dot-container--animation-prev {
    0% { transform: translateY(-50%); }
    100% { transform: translateY(-50%) rotate(-179deg); }
}

@keyframes big-dot-container--animation-next {
    0% { transform: translateY(-50%); }
    100% { transform: translateY(-50%) rotate(-181deg); }
}

.transition-prev .big-dot-container {
    animation: big-dot-container--animation-prev 0.3s forwards;
}

.transition-next .big-dot-container {
    animation: big-dot-container--animation-next 0.3s forwards;
}

.btn {
    fill: black;
    cursor: pointer;
    transition: opacity 0.2s;
}

.btn--next, .btn--prev {
    transform: translateY(-45%);
}

.btn--next {
    float: right;
    transform: translateY(-45%);
}

.btn--prev {
    float: left;
}

.pagination-container {
    display: inline-block;
    position: relative;
    width: 100%;
}

@media (max-width: 1100px) {
    .pagination-wrapper {
        width: 20%;
    }
}

@media (max-width: 768px) {
    .pagination-wrapper {
        width: 30%;
    }
}

@media (max-width: 480px) {
    .pagination-wrapper {
        width: 40%;
    }
}
