.header {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: start;
}

.header__icon-container {
    position: relative;
    display: inline-block;
}

.header__icon {
    min-height: 35px;
    height: 4vw;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    margin: 0 1vw 0 0;
    cursor: pointer;
}

.header__icon--bell:hover {
    animation: ringBell 0.6s ease-in-out infinite;
}

@keyframes ringBell {
    0%, 100% {
        transform: rotate(0);
    }
    25%, 75% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
}

.header__tooltip {
    position: absolute;
    top: calc(100% + 15px);
    left: 42%;
    transform: translateX(-50%);
    white-space: nowrap;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #bebebe,
    -5px -5px 10px #ffffff;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    z-index: 100;
}

.header__tooltip:before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 0, 0.1);
    filter: blur(10px);
    z-index: -1; /
}

.header__tooltip:after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    z-index: 1;
}



.tooltip--user {
    border-radius: 25%;
    padding: 10px;
}

.header__tooltip img {
    width: 312px;
    height: 312px;
}

.tooltip__button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px auto;
    display: block;
    width: auto;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.tooltip__button:hover {
    transition: background-color 0.3s, color 0.3s;
    background-color: black;
    color: white;
}

.header__site-title {
    margin: 0 0 0 0.5vw;
    font-size: max(2vw, 15px);
    font-family: "Playfair Display", serif;
    text-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    font-weight: 550;
    font-style: normal;
}

@media (max-width: 375px) {
    .header__icon, .header__icon {
        min-height: 25px;
        height: 4vw;
    }

    .header__site-title {
        font-size: max(2vw, 11px);
    }
}
