.header__menu {
    width: 40%;
    height: 45%;
    display: flex;
    position: relative;
    align-items: center;
    margin: auto;
    justify-content: center;
}
.header__menu::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 0;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
}
.header__menu::after {
    content: '';
}
.menu__content {
    filter: contrast(20);
    width: 100%;
    background-color: white;
    overflow: hidden;
    position: absolute;
}
.menu__bottom {
    width: 100%;
    height: 45px;
    background: #00040C;
    display: flex;
    justify-content: center;
    filter: blur(10px);
}

input {
    display: none;
}

label {
    cursor: pointer;
    display: flex;
    width: 33%;
    height: 66px;
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: center;
}
label > img {
    width: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    z-index: 3;
    transition: 200ms 100ms cubic-bezier(0.14, -0.08, 0.74, 1.4);
}
label::before {
    content: '';
    position: absolute;
}

.menu__circle {
    width: 45px;
    height: 45px;
    background: #00040C;
    position: absolute;
    top: -30px;
    z-index: 1;
    border-radius: 50%;
    left: 0;
    right: 2px;
    margin: auto;
    transition: 200ms cubic-bezier(0.14, -0.08, 0.74, 1.4);
}

.menu__content--indicator {
    width: 70px;
    height: 70px;
    background-image: linear-gradient(0deg, #f7b0b0, rgba(183, 255, 154, 0)),
    linear-gradient(0deg, rgba(158, 255, 151, 0.75), rgba(183, 255, 154, 0)),
    linear-gradient(0deg, #b4fffb, rgba(183, 255, 154, 0));
    background-size: cover;
    background-position: 0 10px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -40px;
    right: 0;
    margin: auto;
    transition: 200ms cubic-bezier(0.14, -0.08, 0.74, 1.4);
}

#student-list-page:checked ~ [for="student-list-page"] > img {
    top: -55px;
}
#student-list-page:checked ~ .menu__circle {
    left: -66%;
}
#student-list-page:checked ~ div div .menu__content--indicator {
    left: -66.25%;
}

#home-page:checked ~ [for="home-page"] > img {
    top: -55px;
}
#home-page:checked ~ .menu__circle {
    left: 0.3%;
}
#home-page:checked ~ div div .menu__content--indicator {
    left: 0.20%;
}

#task-list-page:checked ~ [for="task-list-page"] > img {
    top: -55px;
}
#task-list-page:checked ~ .menu__circle,
#task-list-page:checked ~ div div .menu__content--indicator {
    left: 66%;
}

@media (max-width: 480px) {
    .header__menu {
        width: 50%;
    }

    .header__menu::before {
        box-shadow: none;
    }
    .menu__bottom {
        height: 40px;
        box-shadow: none;
    }

    label > img {
        width: 20px;
    }

    .menu__circle {
        width: 35px;
        height: 35px;
    }

    .menu__circle {
        top: 0;
    }

    .menu__content--indicator {
        width: 60px;
        height: 60px;
        top: -20px;
    }

    #student-list-page:checked ~ [for="student-list-page"] > img {
        top: 0;
    }

    #home-page:checked ~ [for="home-page"] > img {
        top: 0;
    }

    #task-list-page:checked ~ [for="task-list-page"] > img {
        top: 0;
    }
}

@media (max-width: 375px) {
    .menu__bottom {
        height: 25px;
        box-shadow: none;
    }

    label > img {
        width: 15px;
    }

    .menu__circle {
        width: 25px;
        height: 25px;
    }

    .menu__circle {
        top: 3px;
    }

    .menu__content--indicator {
        width: 55px;
        height: 60px;
        top: -20px;
    }
}