.students-list__check {
    width: 25px;
    height: 25px;
    margin: auto;
}

.students-list__check input {
    border-radius: 25px;
    display: none;
}

.students-list__check input:checked + .students-list__checkmark {
    border-radius: 25px;
}

.students-list__check input:checked + .students-list__checkmark:after {
    top: 0;
}

.students-list__check .students-list__checkmark {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 1.1s cubic-bezier(.19,1,.22,1);
    border: 1px solid transparent;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: inset 2px 2px 5px #bebebe,
    inset -2px -2px 5px #ffffff;
}

.students-list__check .students-list__checkmark:after {
    width: 50%;
    height: 20%;
    content: '';
    position: absolute;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-color: #00040C;
    transform: rotate(-45deg) translate3d(0,0,0);
    transform-origin: center center;
    transition: all 1s cubic-bezier(.19,1,.22,1);
    left: 0;
    right: 0;
    top: 200%;
    bottom: 15%;
    margin: auto;
}
