.student-list__button {
    height: 35px;
    width: 35px;
    background: transparent;
    border: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: inset 2px 2px 5px #bebebe,
                inset -2px -2px 5px #ffffff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.student-list__button img {
    height: 20px;
    width: 20px;
    position: absolute;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.student-list__button:hover {
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 2px 2px 5px #bebebe,
                -2px -2px 5px #ffffff;
}

.student-list__button:hover img {
    transform: scale(1.2);
    filter: brightness(1.2);
}
