.students-list__table {
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    border-spacing: 0 15px;
    border-collapse: separate;
}

.students-list__table tr {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    animation: addRowAnimation 1s ease
}

.students-list__table tbody tr:hover {
    transform: translateY(-3px) scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
    position: relative;
}

@keyframes addRowAnimation  {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes removeRowAnimation {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.9);
    }
}

.students-list__table th, .students-list__table td {
    text-align: center;
    color: #00040C;
    padding: 15px 0;
    vertical-align: middle;
}

.students-list__table th {
    font-weight: bold;
}

.students-list__table td:first-child, .students-list__table th:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.students-list__table td:last-child, .students-list__table th:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media (max-width: 430px) {
    .students-list__table th, .students-list__table td {
        padding: 10px 5px;
    }

    .students-list__table {
        border-spacing: 0 10px;
    }

    .students-list__table th, .students-list__table td {
        font-size: 13px;
    }
}











