.task-list__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}

.task-list__user-greeting {
    font-size: max(1.5vw, 10px);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    margin: 0 0 3vh 0;
}

.task-list-headline {
    font-size: max(1vw, 10px);
    font-family: "Poppins", sans-serif;
    font-weight: 525;
    font-style: normal;
    line-height: 0;
    margin: 0 0 10px 0;
    align-self: start;
}

.emoji {
    display: inline-block;
    height: 1em;
    width: auto;
    align-self: start;
}

.task-list__container > img {
    margin: 5px 0;
    max-height: 89%;
    max-width: 89%;
    align-self: start;
}