.student-list__display-form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
    cursor: pointer;
}

.student-list__display-form-button:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.student-list__display-form-button:hover::before, .student-list__display-form-button:hover::after {
    display: block;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #FDA8CF;
    border-radius: 50%;
    z-index: -1;
    animation: 1s clockwise infinite;
}

.student-list__display-form-button:hover:after {
    background: #F3CE5E;
    animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
    0% {
        top: -2px;
        left: 1px;
    }
    12% {
        top: -1px;
        left: 1px;
    }
    25% {
        top: 1px;
        left: 2px;
    }
    37% {
        top: 1px;
        left: 1px;
    }
    50% {
        top: 2px;
        left: 1px;
    }
    62% {
        top: 1px;
        left: -1px;
    }
    75% {
        top: 1px;
        left: -2px;
    }
    87% {
        top: -1px;
        left: -1px;
    }
    100% {
        top: -2px;
        left: 1px;
    }
}

@keyframes counterclockwise {
    0% {
        top: -2px;
        right: 1px;
    }
    12% {
        top: -1px;
        right: 1px;
    }
    25% {
        top: 1px;
        right: 2px;
    }
    37% {
        top: 1px;
        right: 1px;
    }
    50% {
        top: 2px;
        right: 1px;
    }
    62% {
        top: 1px;
        right: -1px;
    }
    75% {
        top: 1px;
        right: -2px;
    }
    87% {
        top: -1px;
        right: -1px;
    }
    100% {
        top: -2px;
        right: 1px;
    }
}