.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bluringAnimation 0.75s ease forwards;
}

.modal--unbluring {
    animation: unbluringAnimation 0.75s ease forwards;
}

@keyframes bluringAnimation {
    from {
        backdrop-filter: blur(0);
    }
    to {
        backdrop-filter: blur(10px);
    }
}

@keyframes unbluringAnimation {
    from {
        backdrop-filter: blur(10px);
    }
    to {
        backdrop-filter: blur(0);
    }
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    margin: auto;
    padding: 10px 30px 30px 25px;
    width: 30%;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    opacity: 0;
    animation: modalDisplayAnimation 0.75s ease forwards;
}

.modal-content--close {
    animation: modalCloseAnimation 0.75s ease forwards;
}

@keyframes modalDisplayAnimation {
    from {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes modalCloseAnimation {
    from {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    to {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 32px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.confirm-button, .cancel-button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    border: 2px solid black;
    transition: all 0.3s ease;
}

.confirm-button {
    background-color: black;
    color: white;
}

.cancel-button {
    background-color: white;
    color: black;
}

.confirm-button:hover {
    background-color: white;
    color: black;
}

.cancel-button:hover {
    background-color: black;
    color: white;
}
