@import url('https://fonts.googleapis.com/css?family=Helvetica:300,400');

:root {
    --richBlack: #00040C;
}

* {
    font-family: 'Helvetica', sans-serif;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
}

.section-form {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    animation: bluringAnimation 0.75s ease forwards;
}

.section-form.section-form__unbluring {
    animation: unbluringAnimation 0.75s ease forwards;
}

@keyframes bluringAnimation {
    from {
        backdrop-filter: blur(0);
    }
    to {
        backdrop-filter: blur(10px);
    }
}

@keyframes unbluringAnimation {
    from {
        backdrop-filter: blur(10px);
    }
    to {
        backdrop-filter: blur(0);
    }
}

.section-form__form {
    display: none;
    max-width: 700px;
    min-width: 500px;
    box-sizing: border-box;
    padding: 30px 25px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 5px 5px 10px #bebebe,
    -5px -5px 10px #ffffff;
    animation: formDisplayAnimation 0.75s ease forwards;
    z-index: 100;
}

.section-form__form.form__animate-out {
    animation: formCloseAnimation 0.75s ease forwards;
}

@keyframes formDisplayAnimation {
    0% {
        opacity: 0;
        transform: translateY(-25%) scale(0.9);
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0);
    }
}

@keyframes formCloseAnimation {
    0% {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-25%) scale(0.95);
        filter: blur(10px);
    }
}


.section-form__form h1 {
    color: var(--richBlack);
    font-weight: 100;
    letter-spacing: 0.01em;
    margin-left: 15px;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.section-form__button, .section-form__question label, .section-form__question input[type="text"] {
    transition: all 0.25s cubic-bezier(.53,.01,.35,1.5);
}

.section-form__question {
    position: relative;
    padding: 10px 0;
}

.section-form__question:first-of-type {
    padding-top: 0;
}

.section-form__question:last-of-type {
    padding-bottom: 0;
}

.section-form__form .section-form__question label {
    width: 100%;
    height: 100%;
    transform-origin: left center;
    color: var(--richBlack);
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 17px;
    box-sizing: border-box;
    padding: 15px;
    display: block;
    position: absolute;
    margin-top: -40px;
    z-index: 2;
    pointer-events: none;
}

.section-form__form .section-form__question input[type="text"] {
    appearance: none;
    background-color: transparent;
    border: 1px solid var(--richBlack);
    line-height: 0;
    font-size: 17px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    color: var(--richBlack);
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}

.section-form__form .section-form__question input[type="text"]:focus {
    outline: none;
    background: var(--richBlack);
    color: white;
    margin-top: 30px;
}

.section-form__form .section-form__question input[type="text"]:valid {
    margin-top: 10px;
}

.section-form__form .section-form__question input[type="text"]:focus ~ label {
    transform: translate(0, -35px);
}

.section-form__form .section-form__question input[type="text"]:valid ~ label {
    transform: translate(0, -35px) scale(0.6);
    text-transform: uppercase;
    font-style: italic;
}

.section-form__button {
    margin-top: 35px;
    margin-left: 5px;
    background-color: var(--richBlack);
    border: 1px solid var(--richBlack);
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 50px;
    color: white;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    float: right;
    touch-action: none;
}

#add-button:hover {
    background-color: white;
    color: var(--richBlack);
}

#close-button {
    background-color: white;
    color: var(--richBlack);
}

#close-button:hover {
    background-color: var(--richBlack);
    color: white;
}

@media (max-width: 430px) {
    .section-form__form {
        max-width: 90%;
        min-width: auto;
        padding: 20px 15px;
        border-radius: 20px;
    }

    .section-form__form h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .section-form__form .section-form__question label,
    .section-form__form .section-form__question input[type="text"] {
        font-size: 15px;
    }

    .section-form__button {
        padding: 15px 20px;
        margin-top: 20px;
    }

    .section-form__question input[type="text"]:focus,
    .section-form__question input[type="text"]:valid {
        margin-top: 0;
    }

    .section-form__question input[type="text"]:focus ~ label,
    .section-form__question input[type="text"]:valid ~ label {
        transform: translate(0, -25px) scale(0.7);
    }
}
