.student-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2.5vw 2vw;
    gap: 10px;
}

.student-list__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.student-list__title {
    font-size: max(2vw, 20px);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}
