.dashboard_container {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.page-title {
    display: flex;
    text-align: center;
    font-size: max(2vw, 10px);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.programmer-image {
    max-height: 55%;
    max-width: 55%;
    align-self: center;
}
