html, body {
    height: 100%;
    background: white;
}

body {
    box-sizing: border-box;
    padding: 15px 25px 20px 25px;
    margin: 0;
}

.main-page {
    display: grid;
    position: relative;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 10fr;
    grid-gap: 25px;
    grid-template-areas:
    "header header"
    "tasklist content";
}

.main-page__header {
    height: 100%;
    position: relative;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 1;
}

.main-page__task-list {
    grid-area: tasklist;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.main-page__content {
    grid-area: content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: transparent;
    z-index: 0;
    box-shadow: 5px 5px 10px #bebebe,
    -5px -5px 10px #ffffff;
}

@media (max-width: 480px) {
    body {
        padding: 0 10px 10px 10px;
    }

    .main-page {
        grid-gap: 15px;
        grid-template-areas:
        "header header"
        "content content";
    }

    .main-page__content {
        grid-area: content;
    }

    .main-page__task-list {
        display: none;
    }
}

